{% block content %}

    {% if user.username == 'masterI' or user.username == 'admin'%}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable24 = $('#sample_data24').DataTable();


            $('#sample_data24').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: '/update24',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch_v %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });

            $('#sample_data24').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update24',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data24').editable({

                container: 'body',
                selector: 'td.prichina',
                url: '/update24',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data24').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update24',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}

    <body>

    {% include 'Line24/Chart24.html' %}

     <select id="Select24">
        {% for option in select24 %}
            <option>{{ option }}</option>
        {% endfor %}
    </select>


    <script>

        function loadSavedOption24() {
            let selectElement = document.getElementById('Select24');
            let savedOption = '{{ select_valve_24|escapejs }}';
            if (savedOption){
                 selectElement.value = savedOption;
            }


        }

        function sendData24(selectedOption) {
            var selectedValue = selectedOption;
            // Отправляем выбранное значение на сервер через AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'select24' %}", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("selected_value=" + encodeURIComponent(selectedValue));
        }

        loadSavedOption24();
        sendData24(document.getElementById('Select24').value);
        document.getElementById('Select24').addEventListener('change', function (event) {
            var selectedOption = event.target.value; // Получаем выбранное значение селекта
            sendData24(selectedOption); // Вызываем функцию отправки данных при изменении выбранного значения
        });

        // Устанавливаем интервал для отправки данных
        setInterval(function () {
            loadSavedOption24();
            var now = new Date();
            var selectedOption = document.getElementById('Select24').value;

            if ((now.getHours() === 16 && now.getMinutes() === 31) ||
                (now.getHours() === 0 && now.getMinutes() === 1) ||
                (now.getHours() === 8 && now.getMinutes() === 1)) {
                sendData24(selectedOption);
            }
        }, 60000); // Проверяем каждую минуту

    </script>

    <table id="sample_data24" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Дата</th>
            <th>Время начала простоя</th>
            <th>Время простоя</th>
            <th>Участок</th>

            <th>Ответст. подразделение</th>
            <th>Причина</th>
            <th>Комментарий</th>
        </thead>
        <tbody>
        {% include 'Line24/table_body24.html' %}
        </tbody>
    </table>
    </body>

{% if not user.username == 'naladchikS'%}
  <input type="button" id="start_perenaladka24" value="Старт переналадка"/>
    <input type="button" id="start_donaladka24" value="Cтарт доналадка"/>
    <input type="button" id="TO24" value="ТО"/>
    <input type="button" id="rabota24" value="Работа"/>
{% endif %}

     <script>
        $('#start_perenaladka24').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_perenaladka24' %}",

            });
        })
 $('#start_donaladka24').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_donaladka24' %}",

            });
        })
        $('#rabota24').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'rabota24' %}",
            });
        })
        $('#TO24').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'TO24' %}",
            });
        })

    </script>


{% endblock %}


</style>