{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Простои линии</title>

</head>
<body>
    <h1 style="text-align:center">Простои линии 5</h1>

    {% if not user.username == 'admin' and not user.username == 'master' %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        // Функция для окрашивания элементов графика в зависимости от времени
        function getColorByTime(value, tempChartTimes) {

        let timeParts = value.split(":");
        let hours = parseInt(timeParts[0], 10);
        let minutes = parseInt(timeParts[1], 10);
        let seconds = parseInt(timeParts[2], 10);

        let currentDate = new Date();
        let timeObject = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), hours, minutes, seconds);


        for (var j = 0; j < tempChartTimes.length; j++) {
            let timeParts2 = tempChartTimes[j].split(":");
            let hours2 = parseInt(timeParts2[0], 10);
            let minutes2 = parseInt(timeParts2[1], 10);
            let seconds2 = parseInt(timeParts2[2], 10)
            let currentDate2 = new Date();
            let timeObject2 = new Date(currentDate2.getFullYear(), currentDate2.getMonth(), currentDate2.getDate(), hours2, minutes2,seconds2);
            let newTimeM = new Date(timeObject2- 60 * 1000);
            timeObject2.setMinutes(timeObject2.getMinutes() + 2);
            let newTimeB = new Date(timeObject2);
            // Проверяем, выполнялось ли уже это условие для данного времени

            if (newTimeM < timeObject && timeObject < newTimeB) {
               return '#ff0000';
            }

        }

    return 'rgb(224,230,243)';
}

               $(document).ready(function () {
            var ctx = document.getElementById("Chart").getContext("2d");
            var config = {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: '# Производительность линии 5',
                        data: [],
                        borderWidth: 1,
                        borderColor: 'rgb(2,74,255)',
                        backgroundColor: [] // Добавляем пустой массив для хранения цветов фона
                    }]
                },
                options: {
                    elements: {
                        point: {
                            radius: 0
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            var chart = new Chart(ctx, config);

            // Функция для обновления данных на странице
            function dataUpdater() {
                $.ajax({
                    type: "post",
                    url: 'getData',
                }).done(function (newData) {
                    // Обновление данных на странице
                    $('#avgSpeeds').html(newData.avgSpeed);
                    $('#allProc').html(newData.allProc);
                    $('#boomOut').html(newData.boomOut);
                    $('#sumProstoy').html(newData.sumProstoy);
                    $('#sumProduct').html(newData.sumProduct);

                    // Обновление данных и цветов на графике
                    chart.data.labels = newData.lableChart;
                    chart.data.datasets[0].data = newData.dataChart_triblok;

                    // Массив, который будет хранить цвета для каждого элемента данных
                    var backgroundColorArray = [];

                    // Проходимся по каждому значению и определяем его цвет с помощью функции getColorByTime
                    for (var i = 0; i < newData.lableChart.length; i++) {
                        var value = newData.lableChart[i];
                        var color = getColorByTime(value, newData.temp_chart);
                        backgroundColorArray.push(color);
                    }

                    chart.data.datasets[0].backgroundColor = backgroundColorArray;

                    // Обновление графика
                    chart.update();
                });

                // Установка интервала для периодического обновления данных и графика
                setInterval(dataUpdater, 150000);
            }

            // Вызов функции dataUpdater для обновления данных и графика при загрузке страницы
            dataUpdater();
        });
    </script>
        <!-- Этот блок будет отображаться только если пользователь НЕ admin и НЕ master -->

        <!-- Здесь идет разметка для графика и другой информации -->
        <div class="col__wrapper"
             style=" display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;  margin-top: 1rem;">
            <div class="col" style="width: calc((100% - 30px) / 2); outline: 2px solid #000; ">
                <canvas id="Chart"></canvas>
            </div>
            <ul class="col__list">
                <!-- Здесь идет блок с различной информацией, который будет обновляться вместе с графиком -->
                <!-- Данные с id="avgSpeeds", id="sumProduct", id="sumProstoy", и id="allProc" будут обновляться в коде JavaScript -->
                <li class="col__item">
                    <ul>
                        <li style="text-align: center;font-size:23px">Средняя производительность линии</li>
                        <li id="avgSpeeds"
                            style="text-align: center; font-size:70px; list-style-type: none;">{{ avgSpeed }}</li>
                    </ul>
                </li>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Количество продукции:</li>
                        <li id="sumProduct" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Общее время простоя</li>
                        <li id="sumProstoy" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Процент выполнения</li>
                        <li id="allProc" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>
                <li class="col__item" style="margin-top:10px;">
                    <ul>
                        <li style=" display: inline;list-style-type: none; font-size:15px">Взрывы бутылки</li>
                        <li id="boomOut"style=" display: inline;font-size:15px; list-style-type: none;" ></li>
                    </ul>
            </ul>
        </div>
    {% endif %}



    <script>

        $(document).ready(function () {
            var item_num5 = $(this).attr('id');
            update_item(item_num5)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num5 = $(this).attr('id');
                    update_item(item_num5);

                }

            }, 15000);
            function update_item(item_num5) {
                $('#sample_data tbody').load(
                    "{% url 'update_items5' %}?item_num5=" + item_num5
                );
            }
        });
    </script>
</body>
</html>
{% endblock %}
