{% block content %}

    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator5' %}
        <script> // зависимости выпадающих списков таблици
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}


            var temp = '%'
            $(function () {


            });
            {% if not user.username == 'master' %}
                var dataTable = $('#sample_data').DataTable();

                $('#sample_data').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {

                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                                {#if (value === test[i].key) {#}
                                {#    temp += test[i].prichina + '%'#}
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });
        </script>
    {% endif %}


    {% include 'Line5/Chart5.html' %}

    <select id="Select5">
        {% for option in select5 %}
            <option>{{ option }}</option>
        {% endfor %}
    </select>


    <script>

        function loadSavedOption() {
            let selectElement = document.getElementById('Select5');
            let savedOption = '{{ select_valve|escapejs }}';
            if (savedOption){
                 selectElement.value = savedOption;
            }


        }

        function sendData(selectedOption) {
            var selectedValue = selectedOption;
            // Отправляем выбранное значение на сервер через AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'select5' %}", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        console.log(response.selected_value);

                    } else {
                        console.log('Error:', xhr.statusText);
                    }
                }
            };
            xhr.send("selected_value=" + encodeURIComponent(selectedValue));
        }

        loadSavedOption();
        sendData(document.getElementById('Select5').value);
        document.getElementById('Select5').addEventListener('change', function (event) {
            var selectedOption = event.target.value; // Получаем выбранное значение селекта
            sendData(selectedOption); // Вызываем функцию отправки данных при изменении выбранного значения
        });

        // Устанавливаем интервал для отправки данных
        setInterval(function () {
            var now = new Date();
            var selectedOption = document.getElementById('Select5').value;

            if ((now.getHours() === 16 && now.getMinutes() === 31) ||
                (now.getHours() === 0 && now.getMinutes() === 1) ||
                (now.getHours() === 8 && now.getMinutes() === 1)) {
                sendData(selectedOption);
            }
        }, 60000); // Проверяем каждую минуту

    </script>

    <table id="sample_data" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="col-xs-1">Дата</th>
            <th class="col-xs-1">Время начала простоя</th>
            <th class="col-xs-1">Время простоя</th>
            <th class="col-xs-2">Участок</th>

            <th class="col-xs-2">Ответст. подразделение</th>
            <th class="col-xs-2">Причина</th>
            <th class="col-xs-2">Комментарий</th>
        </thead>
        <tbody>
        {% include 'Line5/table_body.html' %}
        </tbody>
    </table>
    <input type="button" id="start_perenaladka5" value="Старт переналадка"/>
    <input type="button" id="start_donaladka5" value="Cтарт доналадка"/>
    <input type="button" id="TO5" value="ТО"/>
    <input type="button" id="rabota5" value="Работа"/>

    <script>
        $('#start_perenaladka5').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_perenaladka5' %}",
            });
        })
        $('#start_donaladka5').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_donaladka5' %}",
            });
        })
        $('#rabota5').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'rabota5' %}",
            });
        })
        $('#TO5').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'TO5' %}",
            });
        })
    </script>
    </body>




{% endblock %}


</style>