{% block content %}

    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator2' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            {% if not user.username == 'master' %}
                var dataTable2 = $('#sample_data2').DataTable();


                $('#sample_data2').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update2',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update2',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data2').editable({

                container: 'body',
                selector: 'td.prichina',
                url: '/update2',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update2',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}



    <body>


    {% include 'Line2/Chart2.html' %}
    <select id="Select2">
        {% for option in select2 %}
            <option>{{ option }}</option>
        {% endfor %}
    </select>


    <script>

        function loadSavedOption2() {
            let selectElement = document.getElementById('Select2');
            let savedOption = '{{ select_valve_2|escapejs }}';
            if (savedOption){
                 selectElement.value = savedOption;
            }


        }

        function sendData2(selectedOption) {
            var selectedValue = selectedOption;
            // Отправляем выбранное значение на сервер через AJAX
            var xhr2 = new XMLHttpRequest();
            xhr2.open("POST", "{% url 'select2' %}", true);
            xhr2.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr2.send("selected_value=" + encodeURIComponent(selectedValue));
        }

        loadSavedOption2();
        sendData2(document.getElementById('Select2').value);
        document.getElementById('Select2').addEventListener('change', function (event) {
            var selectedOption = event.target.value; // Получаем выбранное значение селекта
            sendData2(selectedOption); // Вызываем функцию отправки данных при изменении выбранного значения
        });

        // Устанавливаем интервал для отправки данных
        setInterval(function () {
            loadSavedOption2();
            var now = new Date();
            var selectedOption = document.getElementById('Select2').value;

            if ((now.getHours() === 16 && now.getMinutes() === 31) ||
                (now.getHours() === 0 && now.getMinutes() === 1) ||
                (now.getHours() === 8 && now.getMinutes() === 1)) {
                sendData2(selectedOption);
            }
        }, 60000); // Проверяем каждую минуту

    </script>
    <table id="sample_data2" class="table table-bordered table-striped">
        <thead>
        <tr>

            <th class="col-xs-1">Дата</th>
            <th class="col-xs-1">Время начала простоя</th>
            <th class="col-xs-1">Время простоя</th>
            <th class="col-xs-2">Участок</th>

            <th class="col-xs-2">Ответст. подразделение</th>
            <th class="col-xs-2">Причина</th>
            <th class="col-xs-2">Комментарий</th>
        </thead>
        <tbody>
        {% include 'Line2/table_body2.html' %}
        </tbody>
    </table>

    <input type="button" id="start_perenaladka2"
           value="Старт переналадка"/>
    <input type="button" id="TO2" value="ТО"/>
    <input type="button" id="rabota2" value="Работа"/>
    <input type="button" id="end_of_downtime2" value="Завершить"/>
    <script>
        $('#start_perenaladka2').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_perenaladka2' %}",
            });
        })
        $('#rabota2').click(function () {

            $.ajax({
                type: "POST",
                url: "{% url 'rabota2' %}",
            });
        })
        $('#TO2').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'TO2' %}",
            });
        })
                $('#end_of_downtime2').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'end_of_downtime2' %}",
            });
        })
    </script>
    </body>

{% endblock %}


</style>