{% extends 'base.html' %}
{% block content %}
    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator4' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data4').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });
            {% if not user.username == 'master' %}
                var dataTable2 = $('#sample_data4').DataTable();

                $('#sample_data4').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update4',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch_vino %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update4',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update4',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });

            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update4',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
<script>

    $(document).ready(function () {

                           setTimeout(function () {
            window.location.href = '/tv2';
        }, 60000);});
</script>
        {% include 'Line4/Chart4.html' %}
{% endblock %}