{% extends 'base.html' %}
{% block content %}



    <!DOCTYPE html>
    <html>
    <head>
        <title>Простои линии</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h1 style="text-align:center">Простои линии 4</h1>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>


               $(document).ready(function () {
                           setTimeout(function () {
            window.location.href = '/tv2';
        }, 60000);
            var ctx = document.getElementById("Chart").getContext("2d");
            var config = {
                type: 'bar',
                data: {
                    labels: {{ lableChart4|safe }},
                    datasets: [{
                        label: '# Производительность линии 4',
                        data: {{ dataChart4_triblok|safe }},
                        borderWidth: 1,
                        borderColor: 'rgb(2,74,255)',
                    },{
                    type: 'line',
                    label: 'Необходимая производительность',
                    data: {{ dataChart4_need_speed|safe }},
                    borderWidth: 2,
                    borderColor: 'rgb(255,0,0)',
                    backgroundColor: 'rgba(255,0,0,0.2)',
                    pointRadius: 0,
                },]
                },
                options: {
                    elements: {
                        point: {
                            radius: 0
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };


            var chart = new Chart(ctx, config);



        });
    </script>

        <div class="col__wrapper"
             style=" display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;  margin-top: 1rem;">
            <div class="col" style="width: calc((100% - 30px) / 2); outline: 2px solid #000; ">
                <canvas id="Chart"></canvas>
            </div>



        </div>
<style>
    .col__list_temp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col__item_temp {
        width: 23%; /* Ширина элемента, чтобы уместить 4 элемента в строку */
        margin-bottom: 20px;
        border: 3px solid #070707;
    }
</style>

<ul class="col__list_temp">
    <!-- Здесь идет блок с различной информацией, который будет обновляться вместе с графиком -->
    <!-- Данные с id="avgSpeeds", id="sumProduct", id="sumProstoy", и id="allProc" будут обновляться в коде JavaScript -->

    <li class="col__item_temp">
        <ul>
            <li style="text-align: center;font-size:23px">Средняя производительность линии</li>
            <li id="avgSpeeds2" style="text-align: center; font-size:70px; list-style-type: none;">{{ avg_speed }}</li>
        </ul>
    </li>

    <li class="col__item_temp">
        <ul>
            <li style="list-style-type: none; font-size:23px">Количество продукции:</li>
            <li id="sumProduct2" style="text-align: center; font-size:70px; list-style-type: none;">{{ sum_product }}</li>
        </ul>
    </li>

    <li class="col__item_temp">
        <ul>
            <li style="list-style-type: none; font-size:23px">Общее время простоя</li>
            <li id="sumProstoy2" style="text-align: center; font-size:70px; list-style-type: none;">{{ sum_prostoy }}</li>
        </ul>
    </li>

    <li class="col__item_temp">
        <ul>
            <li style="list-style-type: none; font-size:23px">Процент выполнения</li>
            <li id="allProc2" style="text-align: center; font-size:70px; list-style-type: none;"> {{ all_proc }}</li>
        </ul>
    </li>


</ul>




        <script>

    </script>



    </div>

    </body>
    </html>
{% endblock %}


