{% block content %}


    <h1 style="text-align:center">Простои линии 33</h1>


    {% if not user.username == 'masterS' and not user.username == 'admin' and not user.username == 'naladchikS' %}
        <div class="col__wrapper"
             style=" display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;  margin-top: 1rem;">
            <div class="col" style="width: calc((100% - 30px) / 2); outline: 2px solid #000; ">
                <canvas id="Chart33"></canvas>
            </div>
            <ul class="col__list">
                <li class="col__item">
                    <ul>
                        <li style="text-align: center;font-size:23px">Средняя производительность линии</li>
                        <li id="avgSpeeds33"
                            style="text-align: center; font-size:70px; list-style-type: none;">{{ avgSpeed }}</li>
                    </ul>
                </li>
                <li class="col__item">
                    <ul>
                        <li style="text-align: center;font-size:23px">Количество продукции</li>
                        <li id="sumProduct33"
                            style="text-align: center; font-size:70px; list-style-type: none;">{{ sumProduct33 }}</li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Общее время простоя</li>
                        <li id="sumProstoy33" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Процент выполнения</li>
                        <li id="allProc33" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>

            </ul>
        </div>
    {% endif %}


    <script>//ajax для перезагрузки графика
    $(document).ready(function () {
        var ctx33 = document.getElementById("Chart33").getContext("2d");
        var config33;
        var chart33 = [];
        $.ajax({
            url: 'getData33',
            method: 'post',
            success: function (data) {

                $('#avgSpeeds33').html(data.avgSpeed33);
                $('#allProc33').html(data.allProc33);
                $('#sumProduct33').html(data.sumProduct33);
                $('#sumProstoy33').html(data.sumProstoy33);
                config33 = {
                    type: 'bar',
                    data: {

                        labels: data.lableChart33,
                        datasets: [

                            {
                            label: '# Производительность триблок',
                            data: data.dataChart33_triblok,
                            borderWidth: 3,
                            borderColor: 'rgb(76,125,248)',
                        },{
                    type: 'line',
                    label: 'Необходимая производительность',
                    data:  data.dataChart33_need_speed,
                    borderWidth: 2,
                    borderColor: 'rgb(255,0,0)',
                    backgroundColor: 'rgba(255,0,0,0.2)',
                    pointRadius: 0,
                }],

                    },
                    options: {

                        elements: {
                    point:{
                        radius: 0
                    }
                },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                };
                chart33 = new Chart(ctx33, config33);
                dataUpdater();


            }
        });
        dataUpdater();
        setInterval(function () {

            $.ajax({
                url: 'getData33',
                method: 'post',
                success: function (data) {

                    $('#avgSpeeds33').html(data.avgSpeed33);
                    $('#allProc33').html(data.allProc33);
                    $('#sumProstoy33').html(data.sumProstoy33);
                    $('#sumProduct33').html(data.sumProduct33);
                    dataUpdater();
                }
            });

        }, 15000);


        function dataUpdater() {
            $.ajax({
                type: "post",
                url: 'getData33',
            }).done(function (newData) {
                chart33.data.labels = newData.lableChart33;
                chart33.data.datasets[0].data = newData.dataChart33_triblok;
                chart33.data.datasets[1].data = newData.dataChart33_need_speed;
                chart33.update();
            });

        }
    })
    ;
    </script>

    <script>

        $(document).ready(function () {
            var item_num33 = $(this).attr('id');
            update_item(item_num33)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num33 = $(this).attr('id');
                    update_item(item_num33);

                }

            }, 15000);

            function update_item(item_num33) {
                $('#sample_data33 tbody').load(
                    "{% url 'update_items33' %}?item_num33=" + item_num33
                );


            }


        });


    </script>

{% endblock %}