{% block content %}

    {% if user.username == 'masterS' or user.username == 'admin'%}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable33 = $('#sample_data33').DataTable();


            $('#sample_data33').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: '/update33',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch_v %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });

            $('#sample_data33').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update33',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data33').editable({

                container: 'body',
                selector: 'td.prichina',
                url: '/update33',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data33').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update33',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}

    <body>

    {% include 'Line33/Chart33.html' %}

    <table id="sample_data33" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Дата</th>
            <th>Время начала простоя</th>
            <th>Время простоя</th>
            <th>Участок</th>

            <th>Ответст. подразделение</th>
            <th>Причина</th>
            <th>Комментарий</th>
        </thead>
        <tbody>
        {% include 'Line33/table_body33.html' %}
        </tbody>
    </table>
    </body>

{% if not user.username == 'naladchikS'%}
  <input type="button" id="start_perenaladka33" value="Старт переналадка"/>
    <input type="button" id="start_donaladka33" value="Cтарт доналадка"/>
    <input type="button" id="TO33" value="ТО"/>
    <input type="button" id="rabota33" value="Работа"/>
{% endif %}

     <script>
        $('#start_perenaladka33').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_perenaladka33' %}",

            });
        })
 $('#start_donaladka33').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_donaladka33' %}",

            });
        })
        $('#rabota33').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'rabota33' %}",
            });
        })
        $('#TO33').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'TO33' %}",
            });
        })

    </script>


{% endblock %}


</style>