{% block content %}

    {% if user.username == 'masterS' or user.username == 'admin' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable31 = $('#sample_data31').DataTable();


            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: 'update31',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch_vino %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });

            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: 'update31',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data31').editable({

                container: 'body',
                selector: 'td.prichina',
                url: 'update31',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.comment',
                url: 'update31',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: 'getBtn31',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka31').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#rabota31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka31').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#rabota31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO31').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#rabota31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota31').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#start_donaladka4').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#rabota31').attr('style', 'color:black; ')
                        }

                    }
                });
            }, 1000);


            $.ajax({
                url: 'getBtn31',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[0] == 1) {
                        $('#start_perenaladka31').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 2) {
                        $('#start_donaladka31').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 8) {
                        $('#TO31').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 4) {
                        $('#rabota31').attr('style', 'color:green; border: 1px solid blue;')
                    }

                }
            });



        });
    </script>
    <script>

        $(document).ready(function () {
            var item_num31 = $(this).attr('id');
            update_item(item_num31)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num31 = $(this).attr('id');
                    update_item(item_num31);

                }

            }, 30000);

            function update_item(item_num31) {
                $('#sample_data31 tbody').load(
                    "{% url 'update_items31' %}?item_num31=" + item_num31
                );


            }


        });


    </script>


    {% include 'Line31/line31.html' %}






{% endblock %}