{% block content %}

    {% if user.username == 'masterS' or user.username == 'admin' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable31 = $('#sample_data31').DataTable();

            {% if not user.username == 'masterS'  %}
                $('#sample_data31').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: 'update31',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch_vino %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: 'update31',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data31').editable({

                container: 'body',
                selector: 'td.prichina',
                url: 'update31',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.comment',
                url: 'update31',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
    {% if user.username == 'masterS' or user.username == 'admin' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable33 = $('#sample_data33').DataTable();

            {% if not user.username == 'masterS'  %}
                $('#sample_data33').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: 'update33',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch_vino33 %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data33').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: 'update33',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data33').editable({

                container: 'body',
                selector: 'td.prichina',
                url: 'update33',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data33').editable({
                container: 'body',
                selector: 'td.comment',
                url: 'update33',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}

    {% if user.username == 'masterI' or user.username == 'admin' %}

        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable24 = $('#sample_data24').DataTable();

            {% if not user.username == 'masterI'  %}
                $('#sample_data24').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: 'update24',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data24').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: 'update24',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data24').editable({

                container: 'body',
                selector: 'td.prichina',
                url: 'update24',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data24').editable({
                container: 'body',
                selector: 'td.comment',
                url: 'update24',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
    {% if user.username == 'masterI' or user.username == 'admin' %}


        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable25 = $('#sample_data25').DataTable();

            {% if not user.username == 'masterI'  %}
                $('#sample_data25').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: 'update25',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch_vino %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data25').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: 'update25',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data25').editable({

                container: 'body',
                selector: 'td.prichina',
                url: 'update25',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data25').editable({
                container: 'body',
                selector: 'td.comment',
                url: 'update25',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}

    {#    линия 24#}
    {#кнопки 24#}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: 'getBtn24',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka24').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka24').attr('style', 'color:black;')
                            $('#TO24').attr('style', 'color:black; ')
                            $('#rabota24').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka24').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka24').attr('style', 'color:black;')
                            $('#TO24').attr('style', 'color:black; ')
                            $('#rabota24').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO24').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka24').attr('style', 'color:black;')
                            $('#start_donaladka24').attr('style', 'color:black;')
                            $('#rabota24').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota24').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka24').attr('style', 'color:black;')
                            $('#start_donaladka24').attr('style', 'color:black;')
                            $('#TO24').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka24').attr('style', 'color:black;')
                            $('#start_donaladka24').attr('style', 'color:black;')
                            $('#TO24').attr('style', 'color:black; ')
                            $('#rabota24').attr('style', 'color:black; ')
                        }

                    }
                });
            }, 2000);


            $.ajax({
                url: 'getBtn24',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[0] == 1) {
                        $('#start_perenaladka24').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 2) {
                        $('#start_donaladka24').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 8) {
                        $('#TO24').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 4) {
                        $('#rabota24').attr('style', 'color:green; border: 1px solid blue;')
                    }


                }
            });


        });
    </script>
    {#таблица 24#}
    <script>

        $(document).ready(function () {
            var item_num24 = $(this).attr('id');
            update_item(item_num24)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num24 = $(this).attr('id');
                    update_item(item_num24);

                }

            }, 30000);

            function update_item(item_num24) {
                $('#sample_data24 tbody').load(
                    "{% url 'update_items24' %}?item_num24=" + item_num24
                );


            }


        });


    </script>

    {#    линия 25#}
    {#кнопки 25#}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: 'getBtn25',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka25').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka25').attr('style', 'color:black;')
                            $('#TO25').attr('style', 'color:black; ')
                            $('#rabota25').attr('style', 'color:black; ')
                            $('#vid25').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka25').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka25').attr('style', 'color:black;')
                            $('#TO25').attr('style', 'color:black; ')
                            $('#rabota25').attr('style', 'color:black; ')
                            $('#vid25').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO25').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka25').attr('style', 'color:black;')
                            $('#start_donaladka25').attr('style', 'color:black;')
                            $('#rabota25').attr('style', 'color:black; ')
                            $('#vid25').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota25').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka25').attr('style', 'color:black;')
                            $('#start_donaladka25').attr('style', 'color:black;')
                            $('#TO25').attr('style', 'color:black; ')
                            $('#vid25').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 16) {
                            $('#rabota25').attr('style', 'color:black; ')
                            $('#start_perenaladka25').attr('style', 'color:black;')
                            $('#start_donaladka25').attr('style', 'color:black;')
                            $('#TO25').attr('style', 'color:black; ')
                            $('#vid25').attr('style', 'color:red; border: 1px solid blue;')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka25').attr('style', 'color:black;')
                            $('#start_donaladka25').attr('style', 'color:black;')
                            $('#TO25').attr('style', 'color:black; ')
                            $('#rabota25').attr('style', 'color:black; ')
                            $('#vid25').attr('style', 'color:black; ')
                        }

                    }
                });

            }, 2000);


            $.ajax({
                url: 'getBtn25',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[0] == 1) {
                        $('#start_perenaladka25').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 2) {
                        $('#start_donaladka25').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 8) {
                        $('#TO25').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 4) {
                        $('#rabota25').attr('style', 'color:green; border: 1px solid blue;')
                    }

                }
            });


        });
    </script>
    {#таблица 25#}
    <script>

        $(document).ready(function () {
            var item_num25 = $(this).attr('id');
            update_item(item_num25)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num25 = $(this).attr('id');
                    update_item(item_num25);

                }

            }, 30000);

            function update_item(item_num25) {
                $('#sample_data25 tbody').load(
                    "{% url 'update_items25' %}?item_num25=" + item_num25
                );


            }


        });


    </script>

    {#    линия 26#}
    {#кнопки 25#}
    <script>

        $(document).ready(function () {
            var item_num26 = $(this).attr('id');
            update_item(item_num26)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num26 = $(this).attr('id');
                    update_item(item_num26);

                }

            }, 30000);

            function update_item(item_num26) {
                $('#sample_data26 tbody').load(
                    "{% url 'update_items26' %}?item_num26=" + item_num26
                );


            }


        });


    </script>
    {#таблица 26#}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: 'getBtn26',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka26').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka26').attr('style', 'color:black;')
                            $('#TO26').attr('style', 'color:black; ')
                            $('#rabota26').attr('style', 'color:black; ')
                            $('#vid26').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka26').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka26').attr('style', 'color:black;')
                            $('#TO26').attr('style', 'color:black; ')
                            $('#rabota26').attr('style', 'color:black; ')
                            $('#vid26').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO26').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka26').attr('style', 'color:black;')
                            $('#start_donaladka26').attr('style', 'color:black;')
                            $('#rabota26').attr('style', 'color:black; ')
                            $('#vid26').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 16) {
                            $('#TO26').attr('style', 'color:black; ')
                            $('#start_perenaladka26').attr('style', 'color:black;')
                            $('#start_donaladka26').attr('style', 'color:black;')
                            $('#rabota26').attr('style', 'color:black; ')
                            $('#vid26').attr('style', 'color:red; border: 1px solid blue;')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota26').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka26').attr('style', 'color:black;')
                            $('#start_donaladka26').attr('style', 'color:black;')
                            $('#TO26').attr('style', 'color:black; ')
                            $('#vid26').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka26').attr('style', 'color:black;')
                            $('#start_donaladka26').attr('style', 'color:black;')
                            $('#TO26').attr('style', 'color:black; ')
                            $('#rabota26').attr('style', 'color:black; ')
                            $('#vid26').attr('style', 'color:black; ')
                        }

                    }
                });
            }, 2000);


            $.ajax({
                url: 'getBtn26',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[1] == 1) {
                        $('#start_perenaladka26').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[1] == 2) {
                        $('#start_donaladka26').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[1] == 8) {
                        $('#TO26').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[1] == 4) {
                        $('#rabota26').attr('style', 'color:green; border: 1px solid blue;')
                    }

                }
            });


        });
    </script>

    {% if user.username == 'masterI' or user.username == 'admin' %}

        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable26 = $('#sample_data26').DataTable();

            {% if not user.username == 'masterI'  %}
                $('#sample_data26').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: 'update26',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data26').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: 'update26',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data26').editable({

                container: 'body',
                selector: 'td.prichina',
                url: 'update26',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data26').editable({
                container: 'body',
                selector: 'td.comment',
                url: 'update26',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}

    {#кнопки 31#}
    <script>


        $(document).ready(function () {
            // Функция для обновления селекта
            function updateSelect(options) {
                var select = document.getElementById("select31");

                // Очистка существующих опций в селекте
                select.innerHTML = "";

                // Добавление новых опций в селект
                for (var i = 0; i < options.length; i++) {
                    var option = document.createElement("option");
                    option.value = options[i];
                    option.text = options[i];
                    select.appendChild(option);
                }
            }

            $.ajax({
                url: 'list_nomenklature31',
                method: 'post',
                success: function (data) {
                    updateSelect(data.list_nomenklature);
                }
            });
            // Обработчик события изменения <select>
            $('#select31').change(function () {
                var selectedOption = $(this).val();
                console.log('Selected Option:', selectedOption); // Проверка значения selectedOption

                // Сохранение выбранной позиции в локальном хранилище
                localStorage.setItem('selectedOption31', selectedOption);

                // Отправка выбранной позиции на сервер Django
                $.ajax({
                    url: 'handle_select_position31',
                    method: 'POST',
                    data: {
                        selected_option: selectedOption
                    },
                });
            });


            setInterval(function () {
                $.ajax({
                    url: 'getBtn31',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka31').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#rabota31').attr('style', 'color:black; ')
                            $('#Oformlenie31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka31').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#rabota31').attr('style', 'color:black; ')
                            $('#Oformlenie31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO31').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#rabota31').attr('style', 'color:black; ')
                            $('#Oformlenie31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota31').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#Oformlenie31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#rabota31').attr('style', 'color:black; ')
                            $('#Oformlenie31').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 16) {
                            $('#start_perenaladka31').attr('style', 'color:black;')
                            $('#start_donaladka31').attr('style', 'color:black;')
                            $('#TO31').attr('style', 'color:black; ')
                            $('#rabota31').attr('style', 'color:black; ')
                            $('#Oformlenie31').attr('style', 'color:green; border: 1px solid blue;')
                        }

                    }
                });
            }, 2000);


        });
    </script>
    {#    таблица 31#}
    <script>

        $(document).ready(function () {
            var item_num31 = $(this).attr('id');
            update_item(item_num31)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num31 = $(this).attr('id');
                    update_item(item_num31);

                }

            }, 30000);

            function update_item(item_num31) {
                $('#sample_data31 tbody').load(
                    "{% url 'update_items31' %}?item_num31=" + item_num31
                );


            }


        });


    </script>


    {#кнопки 33#}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: 'getBtn33',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka33').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka33').attr('style', 'color:black;')
                            $('#TO33').attr('style', 'color:black; ')
                            $('#rabota33').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka33').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka33').attr('style', 'color:black;')
                            $('#TO33').attr('style', 'color:black; ')
                            $('#rabota33').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO33').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka33').attr('style', 'color:black;')
                            $('#start_donaladka33').attr('style', 'color:black;')
                            $('#rabota33').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota33').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka33').attr('style', 'color:black;')
                            $('#start_donaladka33').attr('style', 'color:black;')
                            $('#TO33').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka33').attr('style', 'color:black;')
                            $('#start_donaladka33').attr('style', 'color:black;')
                            $('#TO33').attr('style', 'color:black; ')
                            $('#rabota33').attr('style', 'color:black; ')
                        }

                    }
                });
            }, 2000);


            $.ajax({
                url: 'getBtn33',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[0] == 1) {
                        $('#start_perenaladka33').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 2) {
                        $('#start_donaladka33').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 8) {
                        $('#TO33').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 4) {
                        $('#rabota33').attr('style', 'color:green; border: 1px solid blue;')
                    }

                }
            });


        });
    </script>
    {#    таблица 33#}
    <script>

        $(document).ready(function () {
            var item_num33 = $(this).attr('id');
            update_item(item_num33)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num33 = $(this).attr('id');
                    update_item(item_num33);

                }

            }, 30000);

            function update_item(item_num33) {
                $('#sample_data33 tbody').load(
                    "{% url 'update_items33' %}?item_num33=" + item_num33
                );


            }


        });


    </script>





    {% if user.username == 'masterS' or user.username == 'admin' or user.username == 'naladchikS' %}
        {% include 'Line31/line31.html' %}
        {% include 'Line33/line33.html' %}
    {% endif %}

    {% if user.username == 'masterI' or user.username == 'admin' or user.username == 'naladchikS' %}
        {% include 'Line24/line24.html' %}
        {% include 'Line25/line25.html' %}
        {% include 'Line26/line26.html' %}

    {% endif %}





{% endblock %}