{% block content %}
    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator2' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data2').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });
            {% if not user.username == 'master' %}
            var dataTable2 = $('#sample_data2').DataTable();

            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: '/update2',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
                {% endif %}
            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update2',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update2',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });

            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update2',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator4' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data4').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });
            {% if not user.username == 'master' %}
            var dataTable2 = $('#sample_data4').DataTable();

            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: '/update4',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch_vino %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
                {% endif %}
            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update4',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update4',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });

            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update4',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator5' %}
        <script> // зависимости выпадающих списков таблици
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });
{% if not user.username == 'master' %}
            var dataTable = $('#sample_data').DataTable();

            $('#sample_data').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: '/update',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
    {% endif %}
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });
        </script>
    {% endif %}

    <script>

        $(document).ready(function () {
            var item_num2 = $(this).attr('id');
            update_item(item_num2)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num2 = $(this).attr('id');
                    update_item(item_num2);


                }

            }, 2000);

            function update_item(item_num2) {

                $('#sample_data2 tbody').load(
                    "{% url 'update_items2' %}?item_num2=" + item_num2
                );


            }


        });
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: 'getBtn2',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka2').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka2').attr('style', 'color:black;')
                            $('#TO2').attr('style', 'color:black; ')
                            $('#rabota2').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka2').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka2').attr('style', 'color:black;')
                            $('#TO2').attr('style', 'color:black; ')
                            $('#rabota2').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO2').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka2').attr('style', 'color:black;')
                            $('#start_donaladka2').attr('style', 'color:black;')
                            $('#rabota2').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota2').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka2').attr('style', 'color:black;')
                            $('#start_donaladka2').attr('style', 'color:black;')
                            $('#TO2').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka2').attr('style', 'color:black;')
                            $('#start_donaladka2').attr('style', 'color:black;')
                            $('#TO2').attr('style', 'color:black; ')
                            $('#rabota2').attr('style', 'color:black; ')
                        }

                    }
                });
                $.ajax({
                    url: 'getBtn4',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka4').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka4').attr('style', 'color:black;')
                            $('#TO4').attr('style', 'color:black; ')
                            $('#rabota4').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_donaladka4').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka4').attr('style', 'color:black;')
                            $('#TO4').attr('style', 'color:black; ')
                            $('#rabota4').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#TO4').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_perenaladka4').attr('style', 'color:black;')
                            $('#start_donaladka4').attr('style', 'color:black;')
                            $('#rabota4').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#rabota4').attr('style', 'color:green; border: 1px solid blue;')
                            $('#start_perenaladka4').attr('style', 'color:black;')
                            $('#start_donaladka4').attr('style', 'color:black;')
                            $('#TO4').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka4').attr('style', 'color:black;')
                            $('#start_donaladka4').attr('style', 'color:black;')
                            $('#TO4').attr('style', 'color:black; ')
                            $('#rabota4').attr('style', 'color:black; ')
                        }

                    }
                });
                $.ajax({
                    url: 'getBtn5',
                    method: 'post',
                    success: function (data) {
                        if (data.buttons_reg[0] == 1) {
                            $('#start_perenaladka5').attr('style', 'color:red; border: 1px solid blue;')
                            $('#start_donaladka5').attr('style', 'color:black;')
                            $('#TO5').attr('style', 'color:black; ')
                            $('#rabota5').attr('style', 'color:black; ')
                        }
                        if (data.buttons_reg[0] == 2) {
                            $('#start_perenaladka5').attr('style', 'color:black;')
                            $('#TO5').attr('style', 'color:black; ')
                            $('#rabota5').attr('style', 'color:black; ')
                            $('#start_donaladka5').attr('style', 'color:red; border: 1px solid blue;')
                        }
                        if (data.buttons_reg[0] == 8) {
                            $('#start_perenaladka5').attr('style', 'color:black;')
                            $('#start_donaladka5').attr('style', 'color:black;')
                            $('#rabota5').attr('style', 'color:black; ')
                            $('#TO5').attr('style', 'color:red; border: 1px solid blue;')
                        }
                        if (data.buttons_reg[0] == 4) {
                            $('#start_perenaladka5').attr('style', 'color:black;')
                            $('#start_donaladka5').attr('style', 'color:black;')
                            $('#TO5').attr('style', 'color:black; ')
                            $('#rabota5').attr('style', 'color:green; border: 1px solid blue;')
                        }
                        if (data.buttons_reg[0] == 0) {
                            $('#start_perenaladka5').attr('style', 'color:black;')
                            $('#start_donaladka5').attr('style', 'color:black;')
                            $('#TO5').attr('style', 'color:black; ')
                            $('#rabota5').attr('style', 'color:black; ')
                        }

                    }
                });

            }, 1000);

            $.ajax({
                url: 'getBtn2',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[0] == 1) {
                        $('#start_perenaladka2').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 2) {
                        $('#start_donaladka2').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 8) {
                        $('#TO2').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 4) {
                        $('#rabota2').attr('style', 'color:green; border: 1px solid blue;')
                    }

                }
            });
            $.ajax({
                url: 'getBtn4',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[0] == 1) {
                        $('#start_perenaladka4').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 2) {
                        $('#start_donaladka4').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 8) {
                        $('#TO4').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 4) {
                        $('#rabota4').attr('style', 'color:green; border: 1px solid blue;')
                    }

                }
            });
            $.ajax({
                url: 'getBtn5',
                method: 'post',
                success: function (data) {
                    if (data.buttons_reg[0] == 1) {
                        $('#start_perenaladka5').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 2) {
                        $('#start_donaladka5').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 8) {
                        $('#TO5').attr('style', 'color:red; border: 1px solid blue;')
                    }
                    if (data.buttons_reg[0] == 4) {
                        $('#rabota5').attr('style', 'color:green; border: 1px solid blue;')
                    }

                }
            });


        });
    </script>
    <script>

        $(document).ready(function () {
            var item_num4 = $(this).attr('id');
            update_item(item_num4)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num4 = $(this).attr('id');
                    update_item(item_num4);

                }

            }, 15000);

            function update_item(item_num4) {
                $('#sample_data4 tbody').load(
                    "{% url 'update_items4' %}?item_num4=" + item_num4
                );


            }


        });


    </script>
    <script>

        $(document).ready(function () {
            var item_num5 = $(this).attr('id');
            update_item(item_num5)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num5 = $(this).attr('id');
                    update_item(item_num5);
                }

            }, 2000);

            function update_item(item_num5) {
                $('#sample_data tbody').load(
                    "{% url 'update_items5' %}?item_num5=" + item_num5
                );


            }


        });


    </script>


    {% include 'Line5/line5.html' %}
    {% include 'Line4/line4.html' %}
    {% include 'Line2/line2.html' %}






{% endblock %}