{% extends 'base.html' %}

{% block content %}
    {% if user.username == 'master' or user.username == 'admin' %}
        <script> // зависимости выпадающих списков таблици
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {


                $('#sample_data').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });
                $('#sample_data').editable({
                    container: 'body',
                    selector: 'td.prichina',
                    url: '/update',
                    title: 'prichina',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        function () {
                            return sor
                        },
                    validate: function (value) {
                        if ($.trim(value)) {
                        }
                    }
                });
            });
            {% if not user.username == 'master' %}
                var dataTable = $('#sample_data').DataTable();

                $('#sample_data').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch5 %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });

            $('#sample_data').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });
        </script>
        <script> // зависимости выпадающих списков таблици
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {


                $('#sample_data5_2').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });
                $('#sample_data5_2').editable({
                    container: 'body',
                    selector: 'td.prichina',
                    url: '/update5_2',
                    title: 'prichina',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        function () {
                            return sor
                        },
                    validate: function (value) {
                        if ($.trim(value)) {
                        }
                    }
                });
            });
            {% if not user.username == 'master' %}
                var dataTable = $('#sample_data5_2').DataTable();

                $('#sample_data5_2').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update5_2',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch5 %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data5_2').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update5_2',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });

            $('#sample_data5_2').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update5_2',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });
        </script>
    {% endif %}
    {% if user.username == 'master' or user.username == 'admin' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data4').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });
            {% if not user.username == 'master' %}
                var dataTable2 = $('#sample_data4').DataTable();

                $('#sample_data4').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update4',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch_vino %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update4',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update4',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });

            $('#sample_data4').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update4',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data4_2').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });
            {% if not user.username == 'master' %}
                var dataTable2 = $('#sample_data4_2').DataTable();

                $('#sample_data4_2').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update4_2',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch_vino %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data4_2').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update4_2',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data4_2').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update4_2',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });

            $('#sample_data4_2').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update4_2',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
    {% if user.username == 'master' or user.username == 'admin' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            {% if not user.username == 'master' %}
                var dataTable2 = $('#sample_data2').DataTable();


                $('#sample_data2').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update2',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update2',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data2').editable({

                container: 'body',
                selector: 'td.prichina',
                url: '/update2',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update2',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            {% if not user.username == 'master' %}
                var dataTable2 = $('#sample_data2_2').DataTable();


                $('#sample_data2_2').editable({
                    container: 'body',
                    selector: 'td.uchastok',
                    url: '/update2_2',
                    title: 'uchastok',
                    type: 'POST',
                    value: "Не выбрано",
                    source:
                        [
                            {% for el in uch %}
                                {value: "{{ el }}", text: "{{ el }}"},
                            {% endfor %}],
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'This field is required';
                        }
                    }
                });
            {% endif %}
            $('#sample_data2_2').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update2_2',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].Key) {
                                temp += test[i].Prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data2_2').editable({

                container: 'body',
                selector: 'td.prichina',
                url: '/update2_2',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data2_2').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update2_2',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}

    <head>
        <title>Отчет простоев {{ line }} </title>
    </head>

    <body>

    <div class="not-print" style="display: flex; justify-content: space-between;">
        <!-- Столбец с дополнительной информацией (слева) -->
        <div class="col" style="width: 48%; margin-right: 2%; font-size: 105%; ">
            <ul style="margin-bottom: 15px; padding-bottom: 30px;">

                <li style="padding-bottom: 10px;">Общее время работы:<b style="font-size: 120%; "> {{ timeWork }}</b>
                </li>

                <li>Общее время простоя:<b style="font-size: 120%;"> {{ sumProstoy }}</b></li>
                <li style="padding-left:20px;">- Обед: <b
                        style="font-size: 120%;"> {{ time_by_category.4 }}</b></li>
                <li style="padding-left:20px;">- аварийные простои: <b
                        style="font-size: 120%;"> {{ time_by_category.0 }}</b></li>
                <li style="padding-left:20px;">- технологические простои: <b
                        style="font-size: 120%;"> {{ time_by_category.1 }}</b></li>
                <li style="padding-left:20px;">- переналадки: <b style="font-size: 120%;"> {{ time_by_category.2 }}</b>
                </li>
                <li style="padding-left:20px;">- ТО и Переналадки АСУП: <b
                        style="font-size: 120%;"> {{ time_by_category.3 }}</b></li>


                <li style="padding-top: 20px;">План продукции:<b style="font-size: 120%;"> {{ plan }}</b></li>
                <li style="padding-bottom:20px;">Количество продукции:<b style="font-size: 120%;"> {{ allProd }} ({{ completion_percentage }}%)</b>
                </li>
                <li>Средняя производительность, бут/час:</li>

                <li style="padding-left:20px;">- без учета простоев:<b style="font-size: 120%;"> {{ avgSpeed }}</b></li>
                <li style="padding-left:20px;">- без учета тех. простоев простоев:<b style="font-size: 120%;"> {{ excludeSpeed }}</b></li>
                <li style="padding-left:20px;">- итоговая:<b style="font-size: 120%;"> {{ allSpeed }}</b></li>

                {% if line == 'Линиия 5' %}
                    <li>Количество взрывов: <b style="font-size: 120%;"> {{ boomOut }}</b></li>
                {% endif %}

            </ul>


        </div>

        <!-- Столбец с формой и кнопками (справа) -->
        <div class="col" style="width: 48%;">
            <ul class="col__list">
                <li class="col__item__ot">
                    <form action="" method="get">
                        {{ form.as_ul }}
                        <input class="not-print" type="submit" value="Сформировать">

                    </form>
                    <a onclick="window.print()">Распечатать</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="not-print">
        <div class="col__wrapper" style="display: flex; flex-direction: column; justify-content: space-between;
    margin-bottom: 20px;margin-left: 30px;">
            <div class="col" style="width: calc((100% - 30px) / 1.85);">
                <canvas id="myChart"></canvas>
            </div>

        </div>
        <div class="col__wrapper"
             style="display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 20px;">
            <div class="col" style="width: calc((100% - 30px) /1.85);">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dataTable = document.getElementById("data-table");
            var a = "{{line}}"
            console.log(a);
            if (a === "Линиия 5") {
                dataTable.style.display = "table";
            }

            if (a === "Линиия 2") {
                dataTable.style.display = "table";
            }
        });
    </script>


    <table id="data-table" class="table table-bordered table-striped" style="display: none;">


        <thead>
        <tr>
            <th>Дата старт</th>

            <th>Время старт</th>
            <th>Время стоп</th>

            <th>Акр</th>
            <th>Давление</th>
            <th>Температура</th>

            <th>Скорость розлива</th>
            <th>1</th>
            <th>2</th>


        </tr>
        </thead>
        <tbody>
        {% for item in indicators %}
            {% if item.numbacr != None %}
                <tr>
                    <td>{{ item.first_data }}</td>
                    <td>{{ item.first_time }}</td>
                    <td>{{ item.last_time }}</td>
                    <td>{{ item.numbacr }}</td>
                    <td>{{ item.average_press.average_press|floatformat:1 }}</td>
                    <td>{{ item.average_temp.average_temp|floatformat:1 }}</td>

                    <td>{{ item.average_triblok_speed|floatformat:0 }}</td>
                    <td>{{ item.filter_data.press1_avg|floatformat:2 }}</td>
                    <td>{{ item.filter_data.press2_avg|floatformat:2 }}</td>


                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


    {% if line == 'Линиия 5' %}
        <script>
            function getColorByTime(value, tempChartTimes) {
                let timeParts = value.split(":");
                let hours = parseInt(timeParts[0], 10);
                let minutes = parseInt(timeParts[1], 10);
                let seconds = parseInt(timeParts[2], 10);

                let currentDate = new Date();
                let timeObject = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), hours, minutes, seconds);

                for (var j = 0; j < tempChartTimes.length; j++) {
                    let timeParts2 = tempChartTimes[j].split(":");
                    let hours2 = parseInt(timeParts2[0], 10);
                    let minutes2 = parseInt(timeParts2[1], 10);
                    let seconds2 = parseInt(timeParts2[2], 10)
                    let currentDate2 = new Date();
                    let timeObject2 = new Date(currentDate2.getFullYear(), currentDate2.getMonth(), currentDate2.getDate(), hours2, minutes2, seconds2);
                    let newTimeM = new Date(timeObject2 - 60 * 1000);
                    timeObject2.setMinutes(timeObject2.getMinutes() + 2);
                    let newTimeB = new Date(timeObject2);
                    // Проверяем, выполнялось ли уже это условие для данного времени
                    if (newTimeM < timeObject && timeObject < newTimeB) {
                        return '#ff0000';
                    }
                }

                return 'rgb(76,125,248)'; // Цвет, если не попадает в условие окрашивания в черный
            }


            const ctx = document.getElementById('myChart');

            // Получение данных из Django-шаблона
            const lableChart = {{ lableChart | safe }};
            const dataChart = {{ dataChart | safe }};
            const data_chartneed_speed = {{ data_chartneed_speed | safe }};
            const tempChartTimes = {{ tempChart | safe }};

            // Создание массива для хранения цветов фона для каждого элемента данных
            const backgroundColorArray = [];
            for (var i = 0; i < lableChart.length; i++) {
                const value = lableChart[i];
                const color = getColorByTime(value, tempChartTimes);
                backgroundColorArray.push(color);
            }

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: lableChart,
                    datasets: [{
                        borderColor: 'rgb(53,123,184)',
                        label: '# Производительность {{ line }}',
                        data: dataChart,
                        borderWidth: 1,
                        backgroundColor: backgroundColorArray // Массив с цветами фона
                    }
                {#    ,{#}
                {#    type: 'line',#}
                {#    label: 'Необходимая производительность',#}
                {#    data: data_chartneed_speed,#}
                {#    borderWidth: 2,#}
                {#    borderColor: 'rgb(255,0,0)',#}
                {#    backgroundColor: 'rgba(248,6,6)',#}
                {#    pointRadius: 0,#}

                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            console.log({{ data_chartneed_speed  }})
            document.addEventListener('DOMContentLoaded', function () {
                var ctx2 = document.getElementById('myChart2').getContext('2d');

                var myChart2 = new Chart(ctx2, {

                    type: 'line',
                    data: {
                        labels: {{ data.labels|safe }},
                        datasets: [
                            {
                                label: 'Давление',
                                borderColor: 'rgb(0,59,255)',
                                data: {{ data.nappress|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0'
                            },
                            {
                                label: 'Температура',
                                borderColor: 'rgb(4,119,4)',
                                data: {{ data.naptemp|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',

                            },
                            {
                                label: 'МаксДавл',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.maxpress|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },
                            {
                                label: 'МинДавление',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.minpress|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },

                            {
                                label: 'МинТемп',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.mintemp|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },
                            {
                                label: 'MaксТемп',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.maxtemp|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },
                        ]
                    },
                    options: {
                        elements: {
                            point: {
                                radius: 0
                            }
                        },
                        scales: {
                            yAxes: [{
                                id: 'y-axis-0',
                                ticks: {
                                    min: -2,
                                    max: 6,
                                    stepSize: 1,
                                },
                            }]
                        }

                    },
                    plugins: [
                        {

                            beforeDraw: function (chart) {
                                var ctx = chart.ctx;
                                var chartArea = chart.chartArea;
                                var labels = chart.data.labels;

                                var timeRanges = [
                                    {% for interval in intervals_by_numbacr %}
                                        {start_time: '{{ interval.start_time }}', end_time: '{{ interval.end_time }}'},
                                    {% endfor %}
                                ];

                                var gapSize = 10; // Размер разрыва
                                var blueColor = 'rgba(97,185,248,0.5)';
                                var redColor = 'rgba(171,152,152,0.5)';

                                for (var i = 0; i < timeRanges.length; i++) {
                                    var startTime = timeRanges[i].start_time;
                                    var endTime = timeRanges[i].end_time;

                                    var startIndex = labels.indexOf(startTime);
                                    var endIndex = labels.indexOf(endTime);

                                    var startX = chart.scales['x'].getPixelForValue(startTime) - gapSize;
                                    var endX = chart.scales['x'].getPixelForValue(endTime) + gapSize;
                                    console.log();
                                    var minYT ={{ data.maxtemp_chart }};
                                    var maxYT = {{ data.mintemp_chart }};

                                    var minYD ={{ data.minpress_chart }};
                                    var maxYD = {{ data.maxpress_chart }};


                                    var startYT = chart.scales['y-axis-0'].getPixelForValue(maxYT);
                                    var endYT = chart.scales['y-axis-0'].getPixelForValue(minYT);

                                    var startYD = chart.scales['y-axis-0'].getPixelForValue(maxYD);
                                    var endYD = chart.scales['y-axis-0'].getPixelForValue(minYD);
                                    // Draw red background
                                    ctx.fillStyle = redColor;
                                    ctx.fillRect(startX, startYT, endX - startX, endYT - startYT);
                                    ctx.fillStyle = redColor;
                                    ctx.fillRect(startX, startYD, endX - startX, endYD - startYD);
                                    // Draw blue background
                                    ctx.fillStyle = blueColor;
                                    ctx.fillRect(startX, chartArea.top, endX - startX, chartArea.bottom - chartArea.top);


                                }
                            },


                        }
                    ]
                });
            });

        </script>

        {% if table %}
            <table id="sample_data" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Время начала простоя</th>
                <th>Время простоя</th>
                <th>Участок</th>

                <th>Ответст. подразделение</th>
                <th>Причина</th>
                <th>Комментарий</th>
            </thead>
            <tbody>

            {% for row in table %}
                <tr>
                    <td>{{ row.startdata|date:"d.m.Y" }}</td>
                    <td>{{ row.starttime }}</td>
                    <td>{{ row.prostoy }}
                    </td>

                    <td data-name="uchastok" name="uchastok" class="uchastok" data-type="select"
                        data-pk="{{ row.id }}">{{ row.uchastok }}</td>
                    <td data-name="otv_pod" class="otv_pod" data-type="select"
                        data-pk="{{ row.id }}">{{ row.otv_pod }}
                    </td>
                    <td data-name="prichina" class="prichina" data-type="select"
                        data-pk="{{ row.id }}">{{ row.prichina }}</td>

                    <td data-name="comment" class="comment" data-type="textarea"
                        data-pk="{{ row.id }}">{{ row.comment }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    </table>
        <table id="sample_data5_2" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Время начала простоя</th>
                <th>Время простоя</th>
                <th>Участок</th>

                <th>Ответст. подразделение</th>
                <th>Причина</th>
                <th>Комментарий</th>
            </thead>
            <tbody>
            {% for row in table_other %}
                <tr>
                    <td>{{ row.startdata|date:"d.m.Y" }}</td>
                    <td>{{ row.starttime }}</td>
                    <td>{{ row.prostoy }}
                    </td>

                    <td data-name="uchastok" name="uchastok" class="uchastok" data-type="select"
                        data-pk="{{ row.id }}">{{ row.uchastok }}</td>
                    <td data-name="otv_pod" class="otv_pod" data-type="select"
                        data-pk="{{ row.id }}">{{ row.otv_pod }}
                    </td>
                    <td data-name="prichina" class="prichina" data-type="select"
                        data-pk="{{ row.id }}">{{ row.prichina }}</td>

                    <td data-name="comment" class="comment" data-type="textarea"
                        data-pk="{{ row.id }}">{{ row.comment }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif line == 'Линиия 2' %}

        <script>
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',

                data: {
                    labels: {{ lableChart| safe }}
                    ,
                    datasets: [{
                        borderColor: 'rgb(53,123,184)',
                        label: '# Производительность {{ line }}',
                        data: {{ dataChart | safe }},
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            document.addEventListener('DOMContentLoaded', function () {
                var ctx2 = document.getElementById('myChart2').getContext('2d');
// Найти индекс соответствующий времени 16:30 и 18:00

                var myChart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: {{ data.labels|safe }},
                        datasets: [
                            {
                                label: 'Давление',
                                borderColor: 'rgb(0,59,255)',
                                data: {{ data.nappress|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0'
                            },
                            {
                                label: 'Температура',
                                borderColor: 'rgb(4,119,4)',
                                data: {{ data.naptemp|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',

                            },
                            {
                                label: 'МаксДавл',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.maxpress|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },
                            {
                                label: 'МинДавление',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.minpress|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },

                            {
                                label: 'МинТемп',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.mintemp|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },
                            {
                                label: 'MaксТемп',
                                borderColor: 'rgb(255,255,252)',
                                data: {{ data.maxtemp|safe }},
                                fill: false,
                                yAxisID: 'y-axis-0',
                            },
                        ]
                    },
                    options: {
                        elements: {
                            point: {
                                radius: 0
                            }
                        },
                        scales: {
                            yAxes: [{
                                id: 'y-axis-0',
                                ticks: {
                                    min: -2,
                                    max: 6,
                                    stepSize: 1,
                                },
                            }]
                        }

                    },
                    plugins: [
                        {

                            beforeDraw: function (chart) {
                                var ctx = chart.ctx;
                                var chartArea = chart.chartArea;
                                var labels = chart.data.labels;

                                var timeRanges = [
                                    {% for interval in intervals_by_numbacr %}
                                        {start_time: '{{ interval.start_time }}', end_time: '{{ interval.end_time }}'},
                                    {% endfor %}
                                ];

                                var gapSize = 10; // Размер разрыва
                                var blueColor = 'rgba(97,185,248,0.5)';
                                var redColor = 'rgba(171,152,152,0.5)';

                                for (var i = 0; i < timeRanges.length; i++) {
                                    var startTime = timeRanges[i].start_time;
                                    var endTime = timeRanges[i].end_time;

                                    var startIndex = labels.indexOf(startTime);
                                    var endIndex = labels.indexOf(endTime);

                                    var startX = chart.scales['x'].getPixelForValue(startTime) - gapSize;
                                    var endX = chart.scales['x'].getPixelForValue(endTime) + gapSize;
                                    console.log();
                                    var minYT ={{ data.maxtemp_chart }};
                                    var maxYT = {{ data.mintemp_chart }};

                                    var minYD ={{ data.minpress_chart }};
                                    var maxYD = {{ data.maxpress_chart }};


                                    var startYT = chart.scales['y-axis-0'].getPixelForValue(maxYT);
                                    var endYT = chart.scales['y-axis-0'].getPixelForValue(minYT);

                                    var startYD = chart.scales['y-axis-0'].getPixelForValue(maxYD);
                                    var endYD = chart.scales['y-axis-0'].getPixelForValue(minYD);
                                    // Draw red background
                                    ctx.fillStyle = redColor;
                                    ctx.fillRect(startX, startYT, endX - startX, endYT - startYT);
                                    ctx.fillStyle = redColor;
                                    ctx.fillRect(startX, startYD, endX - startX, endYD - startYD);
                                    // Draw blue background
                                    ctx.fillStyle = blueColor;
                                    ctx.fillRect(startX, chartArea.top, endX - startX, chartArea.bottom - chartArea.top);


                                }
                            },


                        }
                    ]
                });
            });
        </script>
        {% if table %}
            <table id="sample_data2_2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время начала простоя</th>
                    <th>Время простоя</th>
                    <th>Участок</th>

                    <th>Ответст. подразделение</th>
                    <th>Причина</th>
                    <th>Комментарий</th>
                </thead>
                <tbody>
                {% for row in table %}
                    <tr>
                        <td>{{ row.startdata|date:"d.m.Y" }}</td>
                        <td>{{ row.starttime }}</td>
                        <td>{{ row.prostoy }}
                        </td>

                        <td data-name="uchastok" name="uchastok" class="uchastok" data-type="select"
                            data-pk="{{ row.id }}">{{ row.uchastok }}</td>
                        <td data-name="otv_pod" class="otv_pod" data-type="select"
                            data-pk="{{ row.id }}">{{ row.otv_pod }}
                        </td>
                        <td data-name="prichina" class="prichina" data-type="select"
                            data-pk="{{ row.id }}">{{ row.prichina }}</td>

                        <td data-name="comment" class="comment" data-type="textarea"
                            data-pk="{{ row.id }}">{{ row.comment }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <table id="sample_data2" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Время начала простоя</th>
                <th>Время простоя</th>
                <th>Участок</th>

                <th>Ответст. подразделение</th>
                <th>Причина</th>
                <th>Комментарий</th>
            </thead>
            <tbody>
            {% for row in table_other %}
                <tr>
                    <td>{{ row.startdata|date:"d.m.Y" }}</td>
                    <td>{{ row.starttime }}</td>
                    <td>{{ row.prostoy }}
                    </td>

                    <td data-name="uchastok" name="uchastok" class="uchastok" data-type="select"
                        data-pk="{{ row.id }}">{{ row.uchastok }}</td>
                    <td data-name="otv_pod" class="otv_pod" data-type="select"
                        data-pk="{{ row.id }}">{{ row.otv_pod }}
                    </td>
                    <td data-name="prichina" class="prichina" data-type="select"
                        data-pk="{{ row.id }}">{{ row.prichina }}</td>

                    <td data-name="comment" class="comment" data-type="textarea"
                        data-pk="{{ row.id }}">{{ row.comment }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif line == 'Линиия 4' %}
        <script>
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',

                data: {
                    labels: {{ lableChart| safe }}
                    ,
                    datasets: [{
                        borderColor: 'rgb(53,123,184)',
                        label: '# Производительность {{ line }}',
                        data: {{ dataChart | safe }},
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
        {% if table %}
            <table id="sample_data4" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время начала простоя</th>
                    <th>Время простоя</th>
                    <th>Участок</th>

                    <th>Ответст. подразделение</th>
                    <th>Причина</th>
                    <th>Комментарий</th>
                </thead>
                <tbody>
                {% for row in table %}
                    <tr>
                        <td>{{ row.startdata|date:"d.m.Y" }}</td>
                        <td>{{ row.starttime }}</td>
                        <td>{{ row.prostoy }}
                        </td>

                        <td data-name="uchastok" name="uchastok" class="uchastok" data-type="select"
                            data-pk="{{ row.id }}">{{ row.uchastok }}</td>
                        <td data-name="otv_pod" class="otv_pod" data-type="select"
                            data-pk="{{ row.id }}">{{ row.otv_pod }}
                        </td>
                        <td data-name="prichina" class="prichina" data-type="select"
                            data-pk="{{ row.id }}">{{ row.prichina }}</td>

                        <td data-name="comment" class="comment" data-type="textarea"
                            data-pk="{{ row.id }}">{{ row.comment }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <table id="sample_data4_2" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Время начала простоя</th>
                <th>Время простоя</th>
                <th>Участок</th>

                <th>Ответст. подразделение</th>
                <th>Причина</th>
                <th>Комментарий</th>
            </thead>
            <tbody>
            {% for row in table_other %}
                <tr>
                    <td>{{ row.startdata|date:"d.m.Y" }}</td>
                    <td>{{ row.starttime }}</td>
                    <td>{{ row.prostoy }}
                    </td>

                    <td data-name="uchastok" name="uchastok" class="uchastok" data-type="select"
                        data-pk="{{ row.id }}">{{ row.uchastok }}</td>
                    <td data-name="otv_pod" class="otv_pod" data-type="select"
                        data-pk="{{ row.id }}">{{ row.otv_pod }}
                    </td>
                    <td data-name="prichina" class="prichina" data-type="select"
                        data-pk="{{ row.id }}">{{ row.prichina }}</td>

                    <td data-name="comment" class="comment" data-type="textarea"
                        data-pk="{{ row.id }}">{{ row.comment }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script>

    </script>

    </body>
{% endblock %}