{% block content %}


    <h1 style="text-align:center">Простои линии 31</h1>


    {% if not user.username == 'masterS' and not user.username == 'admin' and not user.username == 'naladchikS' %}
        <div class="col__wrapper"
             style=" display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;  margin-top: 1rem;">
            <div class="col" style="width: calc((100% - 30px) / 2); outline: 2px solid #000; ">
                <canvas id="Chart31"></canvas>
            </div>
            <ul class="col__list">
                <li class="col__item">
                    <ul>
                        <li style="text-align: center;font-size:23px">Средняя производительность линии</li>
                        <li id="avgSpeeds31"
                            style="text-align: center; font-size:70px; list-style-type: none;">{{ avgSpeed }}</li>
                    </ul>
                </li>
                <li class="col__item">
                    <ul>
                        <li style="text-align: center;font-size:23px">Количество продукции</li>
                        <li id="sumProduct31"
                            style="text-align: center; font-size:70px; list-style-type: none;">{{ sumProduct31 }}</li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Общее время простоя</li>
                        <li id="sumProstoy31" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Процент выполнения</li>
                        <li id="allProc31" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>

            </ul>
        </div>
    {% endif %}


<script>
  $(document).ready(function () {
    var ctx31 = document.getElementById("Chart31").getContext("2d");
    var chart31;
    var config31;

    // Функция создания графика
    function createChart(data) {
        config31 = {
            data: {
                labels: data.lableChart31,
                datasets: [ {
                    type: 'bar',
                    label: '# Производительность триблок',
                    data: data.dataChart31_triblok,
                    borderWidth: 3,
                    borderColor: 'rgb(76,125,248)',
                    backgroundColor: 'rgba(76,125,248,0.2)',
                },{
                    type: 'line',
                    label: 'Необходимая производительность',
                    data: data.dataChart31_need_speed,
                    borderWidth: 2,
                    borderColor: 'rgb(255,0,0)',
                    backgroundColor: 'rgba(255,0,0,0.2)',
                    pointRadius: 0,
                }]
            },
            // Другие настройки вашего графика
        };

        return new Chart(ctx31, config31);
    }

    // Функция обновления данных графика
    function updateChart() {
        $.ajax({
            type: "post",
            url: 'getData31',
            success: function (newData) {
                // Обновление данных графика и вызов метода update()
                config31.data.labels = newData.lableChart31;
                config31.data.datasets[1].data = newData.dataChart31_need_speed;
                config31.data.datasets[0].data = newData.dataChart31_triblok;

                chart31.update();
            }
        });
    }

    // AJAX запрос для создания графика и его обновления
    $.ajax({
        url: 'getData31',
        method: 'post',
        success: function (data) {
            $('#avgSpeeds31').html(data.avgSpeed31);
            $('#allProc31').html(data.allProc31);
            $('#sumProduct31').html(data.sumProduct31);
            $('#sumProstoy31').html(data.sumProstoy31);

            // Создание графика при успешном получении данных
            chart31 = createChart(data);

            // Вызов функции обновления данных графика каждые 15 секунд
            setInterval(updateChart, 1000);
        }
    });
});


</script>

    <script>

        $(document).ready(function () {
            var item_num31 = $(this).attr('id');
            update_item(item_num31)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num31 = $(this).attr('id');
                    update_item(item_num31);

                }

            }, 15000);

            function update_item(item_num31) {
                $('#sample_data31 tbody').load(
                    "{% url 'update_items31' %}?item_num31=" + item_num31
                );
            }
        });


    </script>

{% endblock %}