{% block content %}

    {% if user.username == 'master' or user.username == 'admin' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'

            var dataTable31 = $('#sample_data31').DataTable();


            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: 'update31',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch31 %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });

            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: 'update31',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data31').editable({

                container: 'body',
                selector: 'td.prichina',
                url: 'update31',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {

                    }
                }
            });

            $('#sample_data31').editable({
                container: 'body',
                selector: 'td.comment',
                url: 'update31',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}

    <script>

        $(document).ready(function () {
            var item_num31 = $(this).attr('id');
            update_item(item_num31)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num31 = $(this).attr('id');
                    update_item(item_num31);

                }

            }, 15000);

            function update_item(item_num31) {
                $('#sample_data31 tbody').load(
                    "{% url 'update_items31' %}?item_num31=" + item_num31
                );


            }


        });


    </script>

    <body>

    {% include 'Line31/Chart31.html' %}

    <label>Продукция:</label>

    <select name="select31" id="select31"></select>

    <table id="sample_data31" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Дата</th>
            <th>Время начала простоя</th>
            <th>Время простоя</th>
            <th>Участок</th>

            <th>Ответст. подразделение</th>
            <th>Причина</th>
            <th>Комментарий</th>
        </thead>
        <tbody>
        {% include 'Line31/table_body31.html' %}
        </tbody>
    </table>
    </body>
    {% if not user.username == 'naladchikS' %}
        <input type="button" id="start_perenaladka31" value="Старт переналадка"/>
        <input type="button" id="start_donaladka31" value="Cтарт доналадка"/>
        <input type="button" id="TO31" value="ТО"/>
        <input type="button" id="rabota31" value="Работа"/>
        <input type="button" id="Oformlenie31" value="Оформление"/>

    {% endif %}
    <script>
        $('#start_perenaladka31').click(function () {

            $.ajax({
                type: "POST",
                url: "{% url 'start_perenaladka31' %}",

            });
        })
        $('#start_donaladka31').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'start_donaladka31' %}",
            });
        })
        $('#rabota31').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'rabota31' %}",
            });
        })
        $('#TO31').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'TO31' %}",
            });
        })
        $('#Oformlenie31').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'Oformlenie31' %}",
            });
        })

    </script>


{% endblock %}


</style>